{{ 'custom-richtext.css' |asset_url| stylesheet_tag }}

<div id="shopify-section-template--18092558516542__fccf014a-f382-42d7-8bba-d68816d841c2" class="shopify-section">
    <link href="//vision-jewelery.myshopify.com/cdn/shop/t/2/assets/rich-text.css?v=2599421452835506721685017264" rel="stylesheet" type="text/css" media="all">
      <div class="row">
        <div class="small-12 columns">
          <div class="rich-text rich-text--transparent-true text-center text-position-center text-width-large section-spacing-padding section-spacing--disable-top section-spacing--disable-bottom" style="--color-bg: rgba(0,0,0,0); --color-heading: #263d2d; --color-text: #3b5342; --solid-button-background: #3b5342; --bg-body: rgba(0,0,0,0); --color-accent: #2c2d2e; --color-accent-rgb: 44,45,46;">
            <div class="rich-text__inner">
              <img class="retina_size lazyautosizes ls-is-cached lazyloaded" width="54" height="64" data-sizes="auto" src="//vision-jewelery.myshopify.com/cdn/shop/files/diamond-icon_20x23_crop_center.png?v=1678201386" data-srcset="//vision-jewelery.myshopify.com/cdn/shop/files/diamond-icon_108x128_crop_center.png?v=1678201386 108w" alt="" style="object-position: 50.0% 50.0%;" sizes="54px" srcset="//vision-jewelery.myshopify.com/cdn/shop/files/diamond-icon_108x128_crop_center.png?v=1678201386 108w">
              <noscript>
                <img width="108" height="128" sizes="auto" src="//vision-jewelery.myshopify.com/cdn/shop/files/diamond-icon_108x128_crop_center.png?v=1678201386" srcset="//vision-jewelery.myshopify.com/cdn/shop/files/diamond-icon_108x128_crop_center.png?v=1678201386 108w" alt="" loading="lazy" style="object-position: 50.0% 50.0%;" />
              </noscript>
              <h3 class="richtext-heading">Timeless, classic and 
                <span class="animated-marker" style="--marker-color: #ff8947;">elegant
                  <svg class="svg-marker svg-marker--style2" width="192" height="28" viewBox="0 0 192 28" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                    <path id="drawPath" d="M3 11.9994C56 8.99939 167.626 -0.217816 187 4.99939C201 8.76949 83.5 14.9993 56 24.9997" stroke="#ff8947" stroke-width="6" stroke-linecap="round" style="stroke-dasharray: 700; stroke-dashoffset: 700;"></path>
                  </svg>
                </span>
              </h3>
              <div class="rte text-size-regular">
                <p class="richtext--description">When choosing timeless jewelry, it is important to consider factors such as design, quality, and materials to ensure that the piece will withstand the test of time and retain its value and beauty for years to come.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
  
  {% schema %}
    {
      "name": "Custom Richtext",
      "presets": [
          {
              "name": "Custom Richtext"
          }
      ]
  }
  {% endschema %}