.custom-hotspot-slider .custom-hotspot-slider--heading{
    text-align: center;
    font-weight: bold;
}
.custom-hotspot-slider--hotspot-container{
    position: relative;
}

.custom-hotspot-slider .custom-hotspot-slider--background-image{
    width: 100%;
    height: 550px;
    border-radius: 40px 40px 20px 20px;
}
.custom-hotspot-slider .custom-hotspot-slider--card{
    background-color: white;
    margin: 10px;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    width:200px;
    height:82px
}
.product-tag-circle-top:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
.custom-hotspot-slider--hotspot:hover .custom-hotspot-slider--card{
    opacity: 1;
    visibility: unset;
  }
.custom-hotspot-slider .custom-hotspot-slider--card-image{
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center;
}
.custom-hotspot-slider--card-info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.custom-hotspot-slider .custom-hotspot-slider--card-title{
    margin: 0;
    font-size: 10px;
}
.custom-hotspot-slider--card-pricecontainer{
    display: flex;
}
.custom-hotspot-slider--card-compareprice{
    text-decoration: line-through;
    margin: 0;
    font-size: 10px;
}
.custom-hotspot-slider--card-price{
    margin: 0;
    font-size: 10px;
    color: red;
}
.custom-hotspot-slider--card-button{
    border-radius: 5px;
    font-size: 10px;
    background-color: white;
    color: black; 
    padding: 5px 20px; 
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
    cursor: pointer;
}
.custom-hotspot-slider--slide{
    border-radius: 7% 7% 20px 20px;
    padding: 15px;
    background-color: #ffffff;
}
.custom-hotspot-slider--slide-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.custom-hotspot-slider--slide-vender{
    margin: 0;
    color: rgb(100, 225, 225);
}
.custom-hotspot-slider--slide-title{
    margin: 0;
    font-weight: 600;
}
.custom-hotspot-slider--slide-image{
    height: 250px;
    width: 100%;
    border-radius: 7% 7% 20px 20px;
}
.custom-hotspot-slider--slide-prices{
    display: flex;
    justify-content: center;
}
.custom-hotspot-slider--slide-compareprice{
    margin: 0;
}
.custom-hotspot-slider--slide-price{
    margin: 0;
    color: red;

}
.custom-hotspot-slider .splide__arrow{
    height: 38px;
    width: 38px;
    border: 1px solid black;
    opacity: 1;
}
.custom-hotspot-slider .splide__arrow--prev{
    left: 94%;
    border-radius: 0 0 50% 50%;
}
button.splide__arrow.splide__arrow--prev[disabled] {
        background: white; 
        opacity: 0.6;
        cursor: not-allowed;
}
button.splide__arrow.splide__arrow--next[disabled] {
        background: white; 
        opacity: 0.6;
        cursor: not-allowed;

}
.custom-hotspot-slider .splide__arrow--next{
    right: -7%;
    top: 40%;
    border-radius: 50% 50% 0 0;
}

.custom-hotspot-slider--slide-container{
    display: flex;
    justify-content: center;
}
.custom-hotspot-slider--slide-wrapper{
    height: 420px;
    width: 300px;
    border: 1px solid black;
    border-radius: 7% 7% 20px 20px;
}
.custom-hotspot-slider .product-tag-circle-top{
    position: absolute;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    z-index: 9;
    border-radius: 100%;
    display: block;
}

.custom-hotspot-slider .product-tag-circle-top:before {
    position: absolute;
    content: "";
    border-radius: 100%;
    transition: all .4s;
    border: 15px solid #ffffff80;
    width: 36px;
    height: 36px;
    left: -10px;
    z-index: 8;
    top: -10px;
}
@media screen  and (min-width:800px){
    .custom-hotspot-slider--container{
        display: flex;
        width: 100%;
        position: relative;
    }
    .custom-hotspot-slider--hotspot-container{
        width: 70vw;
    }
    .custom-hotspot-slider--slide-container{
        position: absolute;
        right: 0;
        top: 10%;
    }
    .custom-hotspot-slider--slide-image{
        height: 280px;
    }
}

  
  